<div>
    <h2 data-translate="catpowerserverApp.friendyShop.home.title">Friendy Shops</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="friendy-shop.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="catpowerserverApp.friendyShop.home.createLabel">
                        Create new Friendy Shop
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span >编号</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="shopName"><span >合作门店</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="shopDesc"><span >门店介绍</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="shopPosition"><span >门店位置</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="createTime"><span >合作开始时间</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="endTime"><span >合作结束时间</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="qrInfo.id"><span >二维码</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="friendyShop in vm.friendyShops track by friendyShop.id">
                    <td><a ui-sref="friendy-shop-detail({id:friendyShop.id})">{{friendyShop.id}}</a></td>
                    <td>{{friendyShop.shopName}}</td>
                    <td>{{friendyShop.shopDesc}}</td>
                    <td>{{friendyShop.shopPosition}}</td>
                    <td>{{friendyShop.createTime | date:'medium'}}</td>
                    <td>{{friendyShop.endTime | date:'medium'}}</td>
                    <td>
                        <a ng-click="showqr(friendyShop)">推广二维码</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="friendy-shop-detail({id:friendyShop.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down">查看</span>
                            </button>
                            <button type="submit"
                                    ui-sref="friendy-shop.edit({id:friendyShop.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down">编辑</span>
                            </button>
                            <button type="submit"
                                    ui-sref="friendy-shop.delete({id:friendyShop.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down">删除</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" items-per-page="vm.itemsPerPage" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
