<div>
    <h2 data-translate="catpowerserverApp.course.home.title">Courses</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="course.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="catpowerserverApp.course.home.createLabel">
                        Create new Course
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="courseName"><span data-translate="catpowerserverApp.course.courseName">Course Name</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="courseIntroductions"><span data-translate="catpowerserverApp.course.courseIntroductions">Course Introductions</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="totalClassHour"><span data-translate="catpowerserverApp.course.totalClassHour">Total Class Hour</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="coursePrices"><span data-translate="catpowerserverApp.course.coursePrices">Course Prices</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="courseVipprices"><span data-translate="catpowerserverApp.course.courseVipprices">Course Vipprices</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="classNumber"><span data-translate="catpowerserverApp.course.classNumber">Class Number</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="courseOtherInfo"><span data-translate="catpowerserverApp.course.courseOtherInfo">Course Other Info</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="courseThumbnail"><span data-translate="catpowerserverApp.course.courseThumbnail">Course Thumbnail</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="course in vm.courses track by course.id">
                    <td><a ui-sref="course-detail({id:course.id})">{{course.id}}</a></td>
                    <td>{{course.courseName}}</td>
                    <td>{{course.courseIntroductions}}</td>
                    <td>{{course.totalClassHour}}</td>
                    <td>{{course.coursePrices}}</td>
                    <td>{{course.courseVipprices}}</td>
                    <td>{{course.classNumber}}</td>
                    <td>{{course.courseOtherInfo}}</td>
                    <td>{{course.courseThumbnail}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="course-detail({id:course.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="course.edit({id:course.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="course.delete({id:course.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" items-per-page="vm.itemsPerPage" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
