<div>
    <h2>微信会员卡</h2>
    <jhi-alert></jhi-alert>
    <!--<div class="container-fluid">-->
        <!--<div class="row">-->
            <!--<div class="col-xs-4 no-padding-left">-->
                <!--<button class="btn btn-primary" ui-sref="wechat-vipcard.new" >-->
                    <!--<span class="glyphicon glyphicon-plus"></span>-->
                    <!--<span  data-translate="catpowerserverApp.wechatVipcard.home.createLabel">-->
                        <!--Create new Wechat Vipcard-->
                    <!--</span>-->
                <!--</button>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
    <!--<br/>-->
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="openid"><span data-translate="catpowerserverApp.wechatVipcard.openid">Openid</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="cardJson"><span data-translate="catpowerserverApp.wechatVipcard.cardJson">Card Json</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="getTime"><span data-translate="catpowerserverApp.wechatVipcard.getTime">Get Time</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="activeTime"><span data-translate="catpowerserverApp.wechatVipcard.activeTime">Active Time</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="cardId"><span data-translate="catpowerserverApp.wechatVipcard.cardId">Card Id</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="cardCode"><span data-translate="catpowerserverApp.wechatVipcard.cardCode">Card Code</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="cardStatus"><span data-translate="catpowerserverApp.wechatVipcard.cardStatus">Card Status</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="wechatVipcard in vm.wechatVipcards track by wechatVipcard.id">
                    <td><a ui-sref="wechat-vipcard-detail({id:wechatVipcard.id})">{{wechatVipcard.id}}</a></td>
                    <td>{{wechatVipcard.openid}}</td>
                    <td>{{wechatVipcard.cardJson}}</td>
                    <td>{{wechatVipcard.getTime | date:'medium'}}</td>
                    <td>{{wechatVipcard.activeTime | date:'medium'}}</td>
                    <td>{{wechatVipcard.cardId}}</td>
                    <td>{{wechatVipcard.cardCode}}</td>
                    <td>{{wechatVipcard.cardStatus}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="wechat-vipcard-detail({id:wechatVipcard.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <!--<button type="submit"-->
                                    <!--ui-sref="wechat-vipcard.edit({id:wechatVipcard.id})"-->
                                    <!--class="btn btn-primary btn-sm">-->
                                <!--<span class="glyphicon glyphicon-pencil"></span>-->
                                <!--<span class="hidden-sm-down" data-translate="entity.action.edit"></span>-->
                            <!--</button>-->
                            <!--<button type="submit"-->
                                    <!--ui-sref="wechat-vipcard.delete({id:wechatVipcard.id})"-->
                                    <!--class="btn btn-danger btn-sm">-->
                                <!--<span class="glyphicon glyphicon-remove-circle"></span>-->
                                <!--<span class="hidden-sm-down" data-translate="entity.action.delete"></span>-->
                            <!--</button>-->
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" items-per-page="vm.itemsPerPage" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
