<div>
    <h2 data-translate="catpowerserverApp.courseAtlas.home.title">Course Atlases</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="course-atlas.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="catpowerserverApp.courseAtlas.home.createLabel">
                        Create new Course Atlas
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="picture"><span data-translate="catpowerserverApp.courseAtlas.picture">Picture</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="course.id"><span data-translate="catpowerserverApp.courseAtlas.course">Course</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="courseAtlas in vm.courseAtlases track by courseAtlas.id">
                    <td><a ui-sref="course-atlas-detail({id:courseAtlas.id})">{{courseAtlas.id}}</a></td>
                    <td>{{courseAtlas.picture}}</td>
                    <td>
                        <a ui-sref="course-detail({id:courseAtlas.course.id})">{{courseAtlas.course.id}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="course-atlas-detail({id:courseAtlas.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="course-atlas.edit({id:courseAtlas.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="course-atlas.delete({id:courseAtlas.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" items-per-page="vm.itemsPerPage" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
