<h2 data-translate="catpowerserverApp.page.student-registration.title">学员报名</h2>
<div class="container-fluid row">
    <div class="col-lg-12 col-md-12 col-sm-12" style="margin-top:1.5%;">
        <!--搜索-->
        <div class="col-lg-4 col-md-4 col-sm-4">
            <div class="input-group input-group">
                <input type="text" ng-model="search" class="form-control" placeholder="搜索...">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button">
                        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                    </button>
                </span>
            </div>
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-lg-offset-7 col-md-offset-7 col-sm-offset-7" >
            <button ui-sref="student-registration.new" class="btn btn-primary" role="button">报名</button>
        </div>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12" style="margin-top:2.5%;">
        <div class="col-lg-3 col-md-3 col-sm-3" ng-repeat="course in courses | filter:search">
            <div class="thumbnail">
                <img style="width: 242px;height:200px;" ng-src="{{course.courseThumbnail}}"/>
                <div class="caption">
                    <h3>{{course.courseName}} <span class="badge">{{course.registrationCount}}</span></h3>
                    <p>{{course.courseIntroductions}}</p>
                    <p style="font-size: 13px;">
                        <span>{{course.coursePrices | currency:"￥"}}</span></span><br>
                        <span style="color: #ff0000;">会员{{course.courseVipprices | currency:"￥"}}</span>
                    </p>
                    <p>
                        <button ui-sref="student-registration.add({id:course.id})" class="btn btn-primary" role="button">报名</button>
                        <a ui-sref="student-registration.detail({id:course.id})" href="" style="color: #0f0f0f;float: right;padding-top: 7%;">详情</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
