<div>
    <h2 data-translate="catpowerserverApp.wechatShopCard.home.title">Wechat Shop Cards</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="wechat-shop-card.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="catpowerserverApp.wechatShopCard.home.createLabel">
                        Create new Wechat Shop Card
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="cardId"><span data-translate="catpowerserverApp.wechatShopCard.cardId">Card Id</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="title"><span data-translate="catpowerserverApp.wechatShopCard.title">Title</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="cardJson"><span data-translate="catpowerserverApp.wechatShopCard.cardJson">Card Json</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="ctTime"><span data-translate="catpowerserverApp.wechatShopCard.ctTime">Ct Time</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="cardStatus"><span data-translate="catpowerserverApp.wechatShopCard.cardStatus">Card Status</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="cardRemainCount"><span data-translate="catpowerserverApp.wechatShopCard.cardRemainCount">Card Remain Count</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="course.id"><span data-translate="catpowerserverApp.wechatShopCard.course">Course</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="wechatShopCard in vm.wechatShopCards track by wechatShopCard.id">
                    <td><a ui-sref="wechat-shop-card-detail({id:wechatShopCard.id})">{{wechatShopCard.id}}</a></td>
                    <td>{{wechatShopCard.cardId}}</td>
                    <td>{{wechatShopCard.title}}</td>
                    <td>{{wechatShopCard.cardJson}}</td>
                    <td>{{wechatShopCard.ctTime | date:'medium'}}</td>
                    <td>{{wechatShopCard.cardStatus}}</td>
                    <td>{{wechatShopCard.cardRemainCount}}</td>
                    <td>
                        <a ui-sref="course-detail({id:wechatShopCard.course.id})">{{wechatShopCard.course.id}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="wechat-shop-card-detail({id:wechatShopCard.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="wechat-shop-card.edit({id:wechatShopCard.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="wechat-shop-card.delete({id:wechatShopCard.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" items-per-page="vm.itemsPerPage" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
