
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myWechatShopCardLabel" data-translate="catpowerserverApp.wechatShopCard.home.createOrEditLabel">Create or edit a Wechat Shop Card</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.wechatShopCard.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.wechatShopCard.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="catpowerserverApp.wechatShopCard.cardId" for="field_cardId">Card Id</label>
            <input type="text" class="form-control" readonly name="cardId" id="field_cardId"
                    ng-model="vm.wechatShopCard.cardId"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="catpowerserverApp.wechatShopCard.title" for="field_title">Title</label>
            <input type="text" class="form-control" name="title" id="field_title"
                    ng-model="vm.wechatShopCard.title" readonly
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="catpowerserverApp.wechatShopCard.cardJson" for="field_cardJson">Card Json</label>
            <input type="text" class="form-control" name="cardJson" id="field_cardJson"
                    ng-model="vm.wechatShopCard.cardJson" readonly
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="catpowerserverApp.wechatShopCard.ctTime" for="field_ctTime">Ct Time</label>
                <div class="input-group">
                    <input id="field_ctTime" type="text" class="form-control" name="ctTime" datetime-picker="{{dateformat}}" readonly ng-model="vm.wechatShopCard.ctTime" is-open="vm.datePickerOpenStatus.ctTime"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('ctTime')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="catpowerserverApp.wechatShopCard.cardStatus" for="field_cardStatus">Card Status</label>
            <input type="text" class="form-control" readonly name="cardStatus" id="field_cardStatus"
                    ng-model="vm.wechatShopCard.cardStatus"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="catpowerserverApp.wechatShopCard.cardRemainCount" for="field_cardRemainCount">Card Remain Count</label>
            <input type="number" class="form-control" readonly name="cardRemainCount" id="field_cardRemainCount"
                    ng-model="vm.wechatShopCard.cardRemainCount"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="catpowerserverApp.wechatShopCard.cardType" for="field_cardType">Card Type</label>
            <input type="text" class="form-control" readonly name="cardType" id="field_cardType"
                    ng-model="vm.wechatShopCard.cardType"
                    />
        </div>

        <div class="form-group">
            <label data-translate="catpowerserverApp.wechatShopCard.course" for="field_course">Course</label>
            <select class="form-control" id="field_course" name="course" ng-model="vm.wechatShopCard.course" ng-options="course as course.courseName for course in vm.courses track by course.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
