<div>
    <h2 data-translate="catpowerserverApp.qrScanLog.home.title">Qr Scan Logs</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="qr-scan-log.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="catpowerserverApp.qrScanLog.home.createLabel">
                        Create new Qr Scan Log
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="scanTime"><span data-translate="catpowerserverApp.qrScanLog.scanTime">Scan Time</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="openid"><span data-translate="catpowerserverApp.qrScanLog.openid">Openid</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="qrkey"><span data-translate="catpowerserverApp.qrScanLog.qrkey">Qrkey</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="reply"><span data-translate="catpowerserverApp.qrScanLog.reply">Reply</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="qrScanLog in vm.qrScanLogs track by qrScanLog.id">
                    <td><a ui-sref="qr-scan-log-detail({id:qrScanLog.id})">{{qrScanLog.id}}</a></td>
                    <td>{{qrScanLog.scanTime | date:'medium'}}</td>
                    <td>{{qrScanLog.openid}}</td>
                    <td>{{qrScanLog.qrkey}}</td>
                    <td>{{qrScanLog.reply}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="qr-scan-log-detail({id:qrScanLog.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="qr-scan-log.edit({id:qrScanLog.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="qr-scan-log.delete({id:qrScanLog.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" items-per-page="vm.itemsPerPage" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
