<style>
    a:hover,a:focus{text-decoration: none;border: none;}
    *:before,*:active,*:focus{border:none;}
</style>
<h2 data-translate="catpowerserverApp.page.coachArrangement.title">教练排课</h2>
<div class="container-fluid row">
    <!--选项卡-->
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="col-lg-6 col-md-6 col-sm-6" style="padding:0px;">
            <label class="radio-inline">
                <input type="radio" name="inlineRadioOptions" id="inlineCheckbox1" value="option1" ng-model="myRadio" ng-checked="true"/> 全部
            </label>
            <label class="radio-inline">
                <input type="radio" name="inlineRadioOptions" id="inlineCheckbox2" value="option2" ng-model="myRadio"/>进行中
            </label>
            <label class="radio-inline">
                <input type="radio" name="inlineRadioOptions" id="inlineCheckbox3" value="option3" ng-model="myRadio"/> 已结束
            </label>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-lg-offset-3 col-md-offset-3 col-sm-offset-3">
            <div class="input-group input-group-sm">
                <input type="text" class="form-control" placeholder="搜索...">
                <span class="input-group-btn">
                <button class="btn btn-default" type="button">
                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                </button>
            </span>
            </div>
        </div>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12" style="margin-top:1%;">
            <div ng-switch="myRadio">
                <!--全部教练排课情况-->
                <div ng-repeat="arrangement in arrangementlist" class="col-lg-12 col-md-12 col-sm-12" style="padding: 0px;" ng-switch-when="option1">
                    <!--教练-->
                    <div class="col-lg-12 col-md-12 col-sm-12" style="background: #e5e5e5;font-size: 15px;padding:6px 15px;margin-top: 1.7%;">
                        <span ng-click="toggleOpen(arrangement.coachId)" style="cursor: pointer;">教练：{{arrangement.coachName}}</span>
                        <i ng-click="toggleOpen(arrangement.coachId)" class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': openStatus, 'glyphicon-chevron-right': !openStatus}"></i>
                    </div>
                    <!--课程详情-->
                    <div class="col-lg-12 col-md-12 col-sm-12" style="padding: 0px;"  ng-hide="openStatus">
                        <div ng-repeat="courserInfo in arrangement.courseCount" class="col-lg-12 col-md-12 col-sm-12" style="border-bottom: 1px solid #e3e3e3;margin-top: 1.7%;background: #ffffff;">
                            <ul class="media-list" style="margin-top: 1.7%;">
                                <li class="media">
                                    <div class="media-left">
                                        <a href="#">
                                            <img class="media-object" style="width: 80px;height:84px;border-radius: 5px;" ng-src="{{courserInfo.courseImg}}"/>
                                        </a>
                                    </div>
                                    <div class="media-body">
                                        <p style="float: right;">签到码</p>
                                        <p><button type="button" class="btn btn-default btn-xs">{{courserInfo.courseState}}</button><span style="margin-left:2%;">{{courserInfo.courseName}}</span></p>
                                        <p>上课时间：{{courserInfo.startCourseTime}}</p>
                                        <p>课程人数：{{courserInfo.studentNumber}}</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!--进行中的教练排课情况-->
                <div ng-repeat="arrangement in arrangementlist" class="col-lg-12 col-md-12 col-sm-12" style="padding: 0px;" ng-switch-when="option2">
                    <!--教练-->
                    <div class="col-lg-12 col-md-12 col-sm-12" style="background: #e5e5e5;font-size: 15px;padding:6px 15px;margin-top: 1.7%;">
                        <span ng-click="toggleOpen(arrangement.coachId)" style="cursor: pointer;">教练：{{arrangement.coachName}}</span>
                        <i ng-click="toggleOpen(arrangement.coachId)" class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': openStatus, 'glyphicon-chevron-right': !openStatus}"></i>
                    </div>
                    <!--课程详情-->
                    <div class="col-lg-12 col-md-12 col-sm-12" style="padding: 0px;"  ng-hide="openStatus">
                        <div ng-repeat="courserInfo in arrangement.courseCount | filter : {'courseState':'进行中'}" class="col-lg-12 col-md-12 col-sm-12" style="border-bottom: 1px solid #e3e3e3;margin-top: 1.7%;background: #ffffff;">
                            <ul class="media-list" style="margin-top: 1.7%;">
                                <li class="media">
                                    <div class="media-left">
                                        <a href="#">
                                            <img class="media-object" style="width: 80px;height:84px;border-radius: 5px;" ng-src="{{courserInfo.courseImg}}"/>
                                        </a>
                                    </div>
                                    <div class="media-body">
                                        <p style="float: right;">签到码</p>
                                        <p><button type="button" class="btn btn-default btn-xs">{{courserInfo.courseState}}</button><span style="margin-left:2%;">{{courserInfo.courseName}}</span></p>
                                        <p>上课时间：{{courserInfo.startCourseTime}}</p>
                                        <p>课程人数：{{courserInfo.studentNumber}}</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!--已结束的教练排课情况-->
                <div ng-repeat="arrangement in arrangementlist" class="col-lg-12 col-md-12 col-sm-12" style="padding: 0px;" ng-switch-when="option3">
                    <!--教练-->
                    <div class="col-lg-12 col-md-12 col-sm-12" style="background: #e5e5e5;font-size: 15px;padding:6px 15px;margin-top: 1.7%;">
                        <span ng-click="toggleOpen(arrangement.coachId)" style="cursor: pointer;">教练：{{arrangement.coachName}}</span>
                        <i ng-click="toggleOpen(arrangement.coachId)" class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': openStatus, 'glyphicon-chevron-right': !openStatus}"></i>
                    </div>
                    <!--课程详情-->
                    <div class="col-lg-12 col-md-12 col-sm-12" style="padding: 0px;"  ng-hide="openStatus">
                        <div ng-repeat="courserInfo in arrangement.courseCount | filter : {'courseState':'已结束'}" class="col-lg-12 col-md-12 col-sm-12" style="border-bottom: 1px solid #e3e3e3;margin-top: 1.7%;background: #ffffff;">
                            <ul class="media-list" style="margin-top: 1.7%;">
                                <li class="media">
                                    <div class="media-left">
                                        <a href="#">
                                            <img class="media-object" style="width: 80px;height:84px;border-radius: 5px;" ng-src="{{courserInfo.courseImg}}"/>
                                        </a>
                                    </div>
                                    <div class="media-body">
                                        <p style="float: right;">签到码</p>
                                        <p><button type="button" class="btn btn-default btn-xs">{{courserInfo.courseState}}</button><span style="margin-left:2%;">{{courserInfo.courseName}}</span></p>
                                        <p>上课时间：{{courserInfo.startCourseTime}}</p>
                                        <p>课程人数：{{courserInfo.studentNumber}}</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!--默认打开的教练排课情况也是全部情况-->
                <div ng-repeat="arrangement in arrangementlist" class="col-lg-12 col-md-12 col-sm-12" style="padding: 0px;" ng-switch-default>
                    <!--教练-->
                    <div class="col-lg-12 col-md-12 col-sm-12" style="background: #e5e5e5;font-size: 15px;padding:6px 15px;margin-top: 1.7%;">
                        <span ng-click="toggleOpen(arrangement.coachId)" style="cursor: pointer;">教练：{{arrangement.coachName}}</span>
                        <i ng-click="toggleOpen(arrangement.coachId)" class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': openStatus, 'glyphicon-chevron-right': !openStatus}"></i>
                    </div>
                    <!--课程详情-->
                    <div class="col-lg-12 col-md-12 col-sm-12" style="padding: 0px;"  ng-hide="openStatus">
                        <div ng-repeat="courserInfo in arrangement.courseCount" class="col-lg-12 col-md-12 col-sm-12" style="border-bottom: 1px solid #e3e3e3;margin-top: 1.7%;background: #ffffff;">
                            <ul class="media-list" style="margin-top: 1.7%;">
                                <li class="media">
                                    <div class="media-left">
                                        <a href="#">
                                            <img class="media-object" style="width: 80px;height:84px;border-radius: 5px;" ng-src="{{courserInfo.courseImg}}"/>
                                        </a>
                                    </div>
                                    <div class="media-body">
                                        <p style="float: right;">签到码</p>
                                        <p><button type="button" class="btn btn-default btn-xs">{{courserInfo.courseState}}</button><span style="margin-left:2%;">{{courserInfo.courseName}}</span></p>
                                        <p>上课时间：{{courserInfo.startCourseTime}}</p>
                                        <p>课程人数：{{courserInfo.studentNumber}}</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

</div>
