
<form name="editForm" role="form" novalidate ng-submit="vm.save()">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myCoachLabel" data-translate="catpowerserverApp.coach.home.createOrEditLabel">创建课时</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.coach.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   ng-model="vm.coach.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label">教练姓名</label>
            <select class="form-control" id="field_course" name="course" ng-model="vm.coach.coachName" value="1">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
            </select>
        </div>
        <div class="form-group">
            <label class="control-label">课程名称</label>
            <select class="form-control" name="course" ng-model="vm.coach.courseName" value="1">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
            </select>
        </div>
        <div class="form-group">
            <label class="control-label">课程状态</label>
            <select class="form-control" name="course" ng-model="vm.coach.courseState" value="未开始 ">
                <option value="1" selected="selected">未开始</option>
                <option value="2">进行中</option>
                <option value="2">已结束</option>
            </select>
        </div>
        <div class="form-group">
            <label class="control-label">上课时间</label>
            <p class="input-group">
                <input type="text" class="form-control" uib-datepicker-popup ng-model="startDate" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
                <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="startTime()"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
            </p>
        </div>
        <div class="form-group">
            <label class="control-label">课程人数</label>
            <input type="text" class="form-control"
                   ng-model="vm.coach.studentNumber"
            />
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>


</form>


