<style>
    a:hover,a:focus{text-decoration: none;border: none;}
    *:before,*:active,*:focus{border:none;}
</style>
<h2 data-translate="catpowerserverApp.page.coachArrangement.title">教练排课</h2>
<div class="container-fluid row">

    <div class="col-lg-12 col-md-12 col-sm-12">
        <!--选项卡-->
        <div class="col-lg-4 col-md-4 col-sm-4" style="padding:0px;">
                <label class="radio-inline">
                    <input type="radio" name="inlineRadioOptions" id="inlineCheckbox1" value="option1" ng-model="myRadio" ng-checked="true"/> 全部
                </label>
            <label class="radio-inline">
                <input type="radio" name="inlineRadioOptions" id=" inlineCheckbox4" value="option4" ng-model="myRadio"/>未开始
            </label>
                <label class="radio-inline">
                    <input type="radio" name="inlineRadioOptions" id=" inlineCheckbox2" value="option2" ng-model="myRadio"/>进行中
                </label>
                <label class="radio-inline">
                    <input type="radio" name="inlineRadioOptions" id="inlineCheckbox3" value="option3" ng-model="myRadio"/> 已下课
                </label>
        </div>
        <!--搜索框-->
        <div class="col-lg-4 col-md-4 col-sm-4">
            <div class="input-group input-group-sm">
                <input type="text" ng-model="search" class="form-control" placeholder="搜索...">
                <span class="input-group-btn">
                <button class="btn btn-default" type="button">
                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                </button>
            </span>
            </div>
        </div>
        <!--添加教练排课-->
        <div class="col-lg-2 col-md-2 col-sm-2 col-lg-offset-2 col-md-offset-2 col-sm-offset-2">
            <a ui-sref="coach-arrangement.new" href="" style="color: #969696;">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                <span>添加教练排课</span>
            </a>
        </div>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12" style="margin-top:1%;">
        <div ng-switch="myRadio">
            <!--全部教练排课情况-->
            <!--<div ng-repeat="coach in courseScheList | filter : search" class="col-lg-12 col-md-12 col-sm-12" style="padding: 0px;" ng-switch-when="option1">
                &lt;!&ndash;教练&ndash;&gt;
                <div class="col-lg-12 col-md-12 col-sm-12" style="background: #e5e5e5;font-size: 15px;padding:6px 15px;margin-top: 1.7%;">
                    <span ng-click="toggleOpen(coach.id)" style="cursor: pointer;">教练：{{coach.coachName}}</span>
                    <i ng-click="toggleOpen(coach.id)" class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': openStatus, 'glyphicon-chevron-right': !openStatus}"></i>
                </div>
                &lt;!&ndash;课程详情&ndash;&gt;
                <div class="col-lg-12 col-md-12 col-sm-12" style="padding: 0px;"  ng-hide="openStatus">
                    <div ng-repeat="courses in coach.courseSche" class="col-lg-12 col-md-12 col-sm-12" style="border-bottom: 1px solid #e3e3e3;margin-top: 1.7%;background: #ffffff;">
                        <ul class="media-list" style="margin-top: 1.7%;">
                            <li class="media">
                                <div class="media-left">
                                    <a href="#">
                                        <img class="media-object" style="width: 80px;height:84px;border-radius: 5px;" ng-src="{{courses.course.courseThumbnail}}"/>
                                    </a>
                                </div>
                                <div class="media-body">
                                    <p style="float: right;">签到码</p>
                                    <p><button type="button" class="btn btn-default btn-xs">{{courses.status}}</button><span style="margin-left:2%;">{{courses.course.courseName}}</span></p>
                                    <p>上课时间：{{courses.startTime |date:"yyyy-MM-dd HH:mm:ss"}}</p>
                                    <p>课程人数：{{courses.course.classNumber}}</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>-->
            <div ng-repeat="coach in coaches | filter : search" class="col-lg-12 col-md-12 col-sm-12" style="padding: 0px;" ng-switch-when="option1">
                <!--教练-->
                <div class="col-lg-12 col-md-12 col-sm-12" style="background: #e5e5e5;font-size: 15px;padding:6px 15px;margin-top: 1.7%;">
                    <span ng-click="toggleOpen(coach.coach.id)" style="cursor: pointer;">教练：{{coach.coach.coachName}}</span>
                    <i ng-click="toggleOpen(coach.coach.id)" class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': openStatus, 'glyphicon-chevron-right': !openStatus}"></i>
                </div>
                <!--课程详情-->
                <div class="col-lg-12 col-md-12 col-sm-12" style="padding: 0px;"  ng-hide="openStatus">
                    <div ng-repeat="sche in coach.courseSchedulingList" class="col-lg-12 col-md-12 col-sm-12" style="border-bottom: 1px solid #e3e3e3;margin-top: 1.7%;background: #ffffff;">
                        <ul class="media-list" style="margin-top: 1.7%;">
                            <li class="media">
                                <div class="media-left">
                                    <a href="#">
                                        <img class="media-object" style="width: 80px;height:84px;border-radius: 5px;" ng-src="{{sche.course.courseThumbnail}}"/>
                                    </a>
                                </div>
                                <div class="media-body">
                                    <p style="float: right;">签到码</p>
                                    <p><button type="button" class="btn btn-default btn-xs">{{sche.status}}</button><span style="margin-left:2%;">{{sche.course.courseName}}</span></p>
                                    <p>上课时间：{{sche.startTime |date:"yyyy-MM-dd HH:mm:ss"}}</p>
                                    <p>课程人数：{{sche.course.classNumber}}</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!--未开始的教练排课情况-->
            <!--<div ng-repeat="coach in courseScheList | filter : search" class="col-lg-12 col-md-12 col-sm-12" style="padding: 0px;" ng-switch-when="option4">
                &lt;!&ndash;教练&ndash;&gt;
                <div class="col-lg-12 col-md-12 col-sm-12" style="background: #e5e5e5;font-size: 15px;padding:6px 15px;margin-top: 1.7%;">
                    <span ng-click="toggleOpen(coach.id)" style="cursor: pointer;">教练：{{coach.coachName}}</span>
                    <i ng-click="toggleOpen(coach.id)" class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': openStatus, 'glyphicon-chevron-right': !openStatus}"></i>
                </div>
                &lt;!&ndash;课程详情&ndash;&gt;
                <div class="col-lg-12 col-md-12 col-sm-12" style="padding: 0px;"  ng-hide="openStatus">
                    <div ng-repeat="courses in coach.courseSche | filter : {'status':'未开始'}" class="col-lg-12 col-md-12 col-sm-12" style="border-bottom: 1px solid #e3e3e3;margin-top: 1.7%;background: #ffffff;">
                        <ul class="media-list" style="margin-top: 1.7%;">
                            <li class="media">
                                <div class="media-left">
                                    <a href="#">
                                        <img class="media-object" style="width: 80px;height:84px;border-radius: 5px;" ng-src="{{courses.course.courseThumbnail}}"/>
                                    </a>
                                </div>
                                <div class="media-body">
                                    <p style="float: right;">签到码</p>
                                    <p><button type="button" class="btn btn-default btn-xs">{{courses.status}}</button><span style="margin-left:2%;">{{courses.course.courseName}}</span></p>
                                    <p>上课时间：{{courses.startTime |date:"yyyy-MM-dd HH:mm:ss"}}</p>
                                    <p>课程人数：{{courses.course.classNumber}}</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>-->
            <div ng-repeat="coach in coaches | filter : search" class="col-lg-12 col-md-12 col-sm-12" style="padding: 0px;" ng-switch-when="option4">
                <!--教练-->
                <div class="col-lg-12 col-md-12 col-sm-12" style="background: #e5e5e5;font-size: 15px;padding:6px 15px;margin-top: 1.7%;">
                    <span ng-click="toggleOpen(coach.coach.id)" style="cursor: pointer;">教练：{{coach.coach.coachName}}</span>
                    <i ng-click="toggleOpen(coach.coach.id)" class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': openStatus, 'glyphicon-chevron-right': !openStatus}"></i>
                </div>
                <!--课程详情-->
                <div class="col-lg-12 col-md-12 col-sm-12" style="padding: 0px;"  ng-hide="openStatus">
                    <div ng-repeat="sche in coach.courseSchedulingList | filter : {'status':'未开始'}" class="col-lg-12 col-md-12 col-sm-12" style="border-bottom: 1px solid #e3e3e3;margin-top: 1.7%;background: #ffffff;">
                        <ul class="media-list" style="margin-top: 1.7%;">
                            <li class="media">
                                <div class="media-left">
                                    <a href="#">
                                        <img class="media-object" style="width: 80px;height:84px;border-radius: 5px;" ng-src="{{sche.course.courseThumbnail}}"/>
                                    </a>
                                </div>
                                <div class="media-body">
                                    <p style="float: right;">签到码</p>
                                    <p><button type="button" class="btn btn-default btn-xs">{{sche.status}}</button><span style="margin-left:2%;">{{sche.course.courseName}}</span></p>
                                    <p>上课时间：{{sche.startTime.startTime |date:"yyyy-MM-dd HH:mm:ss"}}</p>
                                    <p>课程人数：{{sche.course.classNumber}}</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!--进行中的教练排课情况-->
            <div ng-repeat="coach in coaches | filter : search" class="col-lg-12 col-md-12 col-sm-12" style="padding: 0px;" ng-switch-when="option2">
                <!--教练-->
                <div class="col-lg-12 col-md-12 col-sm-12" style="background: #e5e5e5;font-size: 15px;padding:6px 15px;margin-top: 1.7%;">
                    <span ng-click="toggleOpen(coach.coach.id)" style="cursor: pointer;">教练：{{coach.coach.coachName}}</span>
                    <i ng-click="toggleOpen(coach.coach.id)" class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': openStatus, 'glyphicon-chevron-right': !openStatus}"></i>
                </div>
                <!--课程详情-->
                <div class="col-lg-12 col-md-12 col-sm-12" style="padding: 0px;"  ng-hide="openStatus">
                    <div ng-repeat="sche in coach.courseSchedulingList | filter : {'status':'进行中'}" class="col-lg-12 col-md-12 col-sm-12" style="border-bottom: 1px solid #e3e3e3;margin-top: 1.7%;background: #ffffff;">
                        <ul class="media-list" style="margin-top: 1.7%;">
                            <li class="media">
                                <div class="media-left">
                                    <a href="#">
                                        <img class="media-object" style="width: 80px;height:84px;border-radius: 5px;" ng-src="{{sche.course.courseThumbnail}}"/>
                                    </a>
                                </div>
                                <div class="media-body">
                                    <p style="float: right;">签到码</p>
                                    <p><button type="button" class="btn btn-default btn-xs">{{sche.status}}</button><span style="margin-left:2%;">{{sche.course.courseName}}</span></p>
                                    <p>上课时间：{{sche.startTime |date:"yyyy-MM-dd HH:mm:ss"}}</p>
                                    <p>课程人数：{{sche.course.classNumber}}</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!--已下课的教练排课情况-->
            <div ng-repeat="coach in coaches | filter : search" class="col-lg-12 col-md-12 col-sm-12" style="padding: 0px;" ng-switch-when="option3">
                <!--教练-->
                <div class="col-lg-12 col-md-12 col-sm-12" style="background: #e5e5e5;font-size: 15px;padding:6px 15px;margin-top: 1.7%;">
                    <span ng-click="toggleOpen(coach.coach.id)" style="cursor: pointer;">教练：{{coach.coach.coachName}}</span>
                    <i ng-click="toggleOpen(coach.coach.id)" class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': openStatus, 'glyphicon-chevron-right': !openStatus}"></i>
                </div>
                <!--课程详情-->
                <div class="col-lg-12 col-md-12 col-sm-12" style="padding: 0px;"  ng-hide="openStatus">
                    <div ng-repeat="sche in coach.courseSchedulingList | filter : {'status':'已下课'}" class="col-lg-12 col-md-12 col-sm-12" style="border-bottom: 1px solid #e3e3e3;margin-top: 1.7%;background: #ffffff;">
                        <ul class="media-list" style="margin-top: 1.7%;">
                            <li class="media">
                                <div class="media-left">
                                    <a href="#">
                                        <img class="media-object" style="width: 80px;height:84px;border-radius: 5px;" ng-src="{{sche.course.courseThumbnail}}"/>
                                    </a>
                                </div>
                                <div class="media-body">
                                    <p style="float: right;">签到码</p>
                                    <p><button type="button" class="btn btn-default btn-xs">{{sche.status}}</button><span style="margin-left:2%;">{{sche.course.courseName}}</span></p>
                                    <p>上课时间：{{sche.startTime |date:"yyyy-MM-dd HH:mm:ss"}}</p>
                                    <p>课程人数：{{sche.course.classNumber}}</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!--默认打开的教练排课情况也是全部情况-->
            <!--<div ng-repeat="coach in courseScheList | filter : search" class="col-lg-12 col-md-12 col-sm-12" style="padding: 0px;" ng-switch-default>
                &lt;!&ndash;教练&ndash;&gt;
                <div class="col-lg-12 col-md-12 col-sm-12" style="background: #e5e5e5;font-size: 15px;padding:6px 15px;margin-top: 1.7%;">
                    <span ng-click="toggleOpen(coach.id)" style="cursor: pointer;">教练：{{coach.coachName}}</span>
                    <i ng-click="toggleOpen(coach.id)" class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': openStatus, 'glyphicon-chevron-right': !openStatus}"></i>
                </div>
                &lt;!&ndash;课程详情&ndash;&gt;
                <div class="col-lg-12 col-md-12 col-sm-12" style="padding: 0px;"  ng-hide="openStatus">
                    <div ng-repeat="courses in coach.courseSche" class="col-lg-12 col-md-12 col-sm-12" style="border-bottom: 1px solid #e3e3e3;margin-top: 1.7%;background: #ffffff;">
                        <ul class="media-list" style="margin-top: 1.7%;">
                            <li class="media">
                                <div class="media-left">
                                    <a href="#">
                                        <img class="media-object" style="width: 80px;height:84px;border-radius: 5px;" ng-src="{{courses.course.courseThumbnail}}"/>
                                    </a>
                                </div>
                                <div class="media-body">
                                    <p style="float: right;">签到码</p>
                                    <p><button type="button" class="btn btn-default btn-xs">{{courses.status}}</button><span style="margin-left:2%;">{{courses.course.courseName}}</span></p>
                                    <p>上课时间：{{courses.startTime |date:"yyyy-MM-dd HH:mm:ss"}}</p>
                                    <p>课程人数：{{courses.course.classNumber}}</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>-->
            <div ng-repeat="coach in coaches | filter : search" class="col-lg-12 col-md-12 col-sm-12" style="padding: 0px;" ng-switch-default>
                <!--教练-->
                <div class="col-lg-12 col-md-12 col-sm-12" style="background: #e5e5e5;font-size: 15px;padding:6px 15px;margin-top: 1.7%;">
                    <span ng-click="toggleOpen(coach.coach.id)" style="cursor: pointer;">教练：{{coach.coach.coachName}}</span>
                    <i ng-click="toggleOpen(coach.id)" class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': openStatus, 'glyphicon-chevron-right': !openStatus}"></i>
                </div>
                <!--课程详情-->
                <div class="col-lg-12 col-md-12 col-sm-12" style="padding: 0px;"  ng-hide="openStatus">
                    <div ng-repeat="sche in coach.courseSchedulingList" class="col-lg-12 col-md-12 col-sm-12" style="border-bottom: 1px solid #e3e3e3;margin-top: 1.7%;background: #ffffff;">
                        <ul class="media-list" style="margin-top: 1.7%;">
                            <li class="media">
                                <div class="media-left">
                                    <a href="#">
                                        <img class="media-object" style="width: 80px;height:84px;border-radius: 5px;" ng-src="{{sche.course.courseThumbnail}}"/>
                                    </a>
                                </div>
                                <div class="media-body">
                                    <p ng-click="getscheqr(sche.id)" data-toggle="modal" data-target="#myModal" style="float: right;margin-top: 21px;margin-right:25px;text-align: center;cursor: pointer;">
                                        <span class="glyphicon glyphicon-qrcode" aria-hidden="true"></span><br>
                                        <span>签到码</span>
                                    </p>

                                    <!-- Modal -->
                                    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                    <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                                                </div>
                                                <div class="modal-body" style="text-align: center;">
                                                    <img ng-src="{{scheqr}}"/>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <p><button type="button" class="btn btn-default btn-xs">{{sche.status}}</button><span style="margin-left:2%;">{{sche.course.courseName}}</span></p>
                                    <p>上课时间：{{sche.startTime |date:"yyyy-MM-dd HH:mm:ss"}}</p>
                                    <p>课程人数：{{sche.course.classNumber}}</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--<div class="col-lg-12 col-md-12 col-sm-12" style="margin-top:1.5%;">
        <div class="text-center">
            <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
            <uib-pagination class="pagination-sm" total-items="vm.totalItems" items-per-page="vm.itemsPerPage" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
        </div>
    </div>-->

</div>
