
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myCoachEvaluateLabel" data-translate="catpowerserverApp.coachEvaluate.home.createOrEditLabel">Create or edit a Coach Evaluate</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.coachEvaluate.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.coachEvaluate.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="catpowerserverApp.coachEvaluate.serviceAttitude" for="field_serviceAttitude">Service Attitude</label>
            <input type="number" class="form-control" name="serviceAttitude" id="field_serviceAttitude"
                    ng-model="vm.coachEvaluate.serviceAttitude"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="catpowerserverApp.coachEvaluate.speciality" for="field_speciality">Speciality</label>
            <input type="number" class="form-control" name="speciality" id="field_speciality"
                    ng-model="vm.coachEvaluate.speciality"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="catpowerserverApp.coachEvaluate.like" for="field_like">Like</label>
            <input type="number" class="form-control" name="like" id="field_like"
                    ng-model="vm.coachEvaluate.like"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="catpowerserverApp.coachEvaluate.complain" for="field_complain">Complain</label>
            <input type="text" class="form-control" name="complain" id="field_complain"
                    ng-model="vm.coachEvaluate.complain"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="catpowerserverApp.coachEvaluate.evaluation" for="field_evaluation">Evaluation</label>
            <input type="number" class="form-control" name="evaluation" id="field_evaluation"
                    ng-model="vm.coachEvaluate.evaluation"
                    />
        </div>

        <div class="form-group">
            <label data-translate="catpowerserverApp.coachEvaluate.learner" for="field_learner">Learner</label>
            <select class="form-control" id="field_learner" name="learner" ng-model="vm.coachEvaluate.learner" ng-options="learner as learner.id for learner in vm.learners track by learner.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label data-translate="catpowerserverApp.coachEvaluate.course" for="field_course">Course</label>
            <select class="form-control" id="field_course" name="course" ng-model="vm.coachEvaluate.course" ng-options="course as course.id for course in vm.courses track by course.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label data-translate="catpowerserverApp.coachEvaluate.coach" for="field_coach">Coach</label>
            <select class="form-control" id="field_coach" name="coach" ng-model="vm.coachEvaluate.coach" ng-options="coach as coach.id for coach in vm.coaches track by coach.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label data-translate="catpowerserverApp.coachEvaluate.learnerCharge" for="field_learnerCharge">Learner Charge</label>
            <select class="form-control" id="field_learnerCharge" name="learnerCharge" ng-model="vm.coachEvaluate.learnerCharge" ng-options="learnerCharge as learnerCharge.id for learnerCharge in vm.learnercharges track by learnerCharge.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
