
<!--<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header"><h4>添加课时</h4></div>
    <div class="modal-body">
        &lt;!&ndash;没有理解&ndash;&gt;
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.coach.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   ng-model="vm.coach.id" readonly />
        </div>

        <div class="form-group">
            <label class="control-label" for="field_coachName">教练姓名</label>
            <input type="text" class="form-control" name="coachName" id="field_coachName"
                   ng-model="coachName"
            />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_coachName">课程名称</label>
            <input type="text" class="form-control" name="coachName"
                   ng-model="courseName"
            />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_coachName">课程状态</label>
            <input type="text" class="form-control"
                   ng-model="courseState"
            />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_coachName">上课时间</label>
            <input type="text" class="form-control"
                   ng-model="time"
            />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_coachName">学员人数</label>
            <input type="text" class="form-control"
                   ng-model="traineeCount"
            />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_coachName">学员姓名</label>
            <input type="text" class="form-control"
                   ng-model="traineeName"
            />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" ng-click="save()" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>

</form>-->
<div class="modal-header"><h4>{{coachName}}</h4></div>
<div class="modal-body">
    <jhi-alert-error></jhi-alert-error>
    <div class="form-group" ng-show="vm.coach.id">
        <label for="id" data-translate="global.field.id">ID</label>
        <input type="text" class="form-control" id="id" name="id"
               ng-model="vm.coach.id" readonly />
    </div>
    <div class="form-group">
        <label class="control-label" for="field_coachName">教练姓名</label>
        <input type="text" class="form-control" name="coachName" id="field_coachName"
               ng-model="coachName"
        />
    </div>
    <div class="form-group">
        <label class="control-label" for="field_coachName">课程名称</label>
        <input type="text" class="form-control" name="coachName"
               ng-model="courseName"
        />
    </div>
    <div class="form-group">
        <label class="control-label" for="field_coachName">课程状态</label>
        <input type="text" class="form-control"
               ng-model="courseState"
        />
    </div>
    <div class="form-group">
        <label class="control-label" for="field_coachName">上课时间</label>
        <input type="text" class="form-control"
               ng-model="time"
        />
    </div>
    <div class="form-group">
        <label class="control-label" for="field_coachName">学员人数</label>
        <input type="text" class="form-control"
               ng-model="traineeCount"
        />
    </div>
    <div class="form-group">
        <label class="control-label" for="field_coachName">学员姓名</label>
        <input type="text" class="form-control"
               ng-model="traineeName"
        />
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
        <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
    </button>
    <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" ng-click="save()" class="btn btn-primary">
        <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
    </button>
</div>
